.form-container {
    width: 400px;
    background-image: url("https://img.freepik.com/free-vector/gradient-geometric-background_23-2148811443.jpg?size=626&ext=jpg&ga=GA1.1.1299116437.1704382347&semt=ais");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 100;
    padding: 28px;
    position: relative;
    left: 58%;
}

.form-container div {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.form-container div>input,
.form-container input {
    width: 100%;
    height: 70%;
    padding: 5px;
    padding: 5px 15px;
    font-size: larger;
    margin-bottom: 5px;
}

.form-container div>input:hover {
    transition: background-color 0.5s ease;
    border: 2px solid rgb(51, 136, 255);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.form-container .regBtn {
    background-color: rgb(51, 136, 255);
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.regBtn {
    width: 330px;
    font-size: larger;
}

.regBtn:hover {
    cursor: pointer;
}

.success-msg {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 136, 255);
    padding: 10px;
    position: relative;
    bottom: 20px;
}

.form-container .success-msg-container {
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .success-msg-container span {
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
}

.form-container p {
    color: red;
    margin: 5px 0;
    position: relative;
    bottom: 4px;
}

.registration-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
}

.header-container {
    margin-left: 530px;
    font-size: 25px;
}

.registration-success {
    font-size: 24px;
    color: rgb(51, 136, 255);
    display: flex;
    margin-left: 73px;
}

.read-joy {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 77px;
}

#home {
    margin-top: 20px;
    background-color: rgb(246, 195, 66);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 77px;
}

#home:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.form-container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.form-container input[type="checkbox"]:checked {
    background-color: #2196F3;
    border-color: #2196F3;
}

.form-container input[type="checkbox"]:checked:after {
    content: "\2713";
    font-size: 14px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container label.checkbox-label {
    align-items: center;
    position: relative;
    font-size: 16px;
    color: white;
    cursor: pointer;
    bottom: 9px;
    left: 10px;
}

.checkbox-container {
    margin-bottom: 0px;
    text-align:start;
}
.form-container .checkbox-container {
    margin-bottom: 0px; 
}

.form-container .regBtn {
    margin-top: 0px; 
}

@media (max-width: 600px) {
    .form-container {
        width: 100%;
        display: flex;
        margin: 0 auto;
        padding: 10px;
        left: 5%;
    }

    .registration-success {
        margin-left: 20px;
    }

    .header-container {
        margin-left: 0 !important;
        font-size: 20px;
        text-align: center; 
    }

    .registration-message {
        margin-left: 0;
    }

    .read-joy {
        margin-left: 25px;
    }

    #home {
        margin-left: 0;
    }
}